@import "compass/reset";
@import "compass";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import "../../admin/sass/font-awesome/font-awesome.scss";

* {
  @include box-sizing('border-box');
}

body {
  background-image: url(../images/background.jpg);
  font: 16px/21px normal 'Open Sans', Arial, sans-serif;
}

h1 {
  font-weight: 600;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  display: block;
  margin: 70px auto;
}

.row {
  &:before,
  &:after {
    content: ' ';
    display: block;
  }

  &:after {
    clear: both;
  }

  .form-control {
    margin-top: 40px;
  }
}

%awesomefont {
  position: absolute;
  top: 12px;
  left: 15px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.7em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alert {
  position: relative;
  margin: -15px -15px 15px;
  padding: 15px 15px 15px 3em;

  &.alert-danger {
    color: #B71C1C;

    background: #FFCDD2;

    border-bottom: 2px solid lighten(#B71C1C, 35%);

    &:before {
      content: "\f071";

      @extend %awesomefont;
    }
  }
}

.content {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 400px;

  background: #eaeaea;
  @include border-radius(2px);
  @include box-shadow(0 2px 10px rgba(0, 0, 0, 0.4));

  overflow: hidden;
}

.form-control {
  position: relative;

  & + .form-control {
    margin-top: 20px;
  }

  label {
    color: lighten(#000, 46%);
  }

  .input {
    width: 100%;
    padding: 10px;

    border: none;
    @include border-radius(3px);

    outline: none;
  }

  .checkbox {
    visibility: hidden;
    position: absolute;
  }

  .checkbox + label {
    margin-left: 28px;

    font-size: 0.8em;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;

      background: #fff;

      @include border-radius(3px);
    }

    &:after {
      position: absolute;
      top: 3px;
      left: 3px;
      content: ' ';
      width: 16px;
      height: 16px;

      @include border-radius(3px);
    }
  }

  .checkbox:not(:checked) + label {
    &:after {
      background: #fff;
    }
  }

  .checkbox:checked + label {
    &:after {
      background: #13A0FF;
    }
  }
}

%shadow {
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.btn {
  padding: 12px 20px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;

  outline: none;
  border: none;
  @include transition(all 0.07s ease-in-out);
  @include border-radius(3px);

  &.btn-primary {
    color: #fff;
    background: #2196F3;

    @extend %shadow;

    &:hover {
      background: #1E88E5;
      text-decoration: none;
    }

    &:active {
      background: #1976D2;

      @include box-shadow(0 2px 10px rgba(0, 0, 0, 0.4));
    }
  }
}
