%beforeafter {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;

  @extend %beforeafter;
}

[class*="col-"] {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-height: 1px;

  @extend %beforeafter;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}