@import "compass/reset";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

@import "grid";
@import "typography";
@import "forms";
@import "labels";
@import "buttons";
@import "alerts";
@import "images";
@import "colors";

@import "font-awesome/font-awesome.scss";

* {
  @include box-sizing('border-box');
}

body {
  font: 14px/21px normal 'Open Sans', Arial, sans-serif;

  background: #e5e7e7;
}

a {
  color: #13A0FF;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: lighten(#13A0FF, 5%);
    text-decoration: underline;
  }
}

.margtop {
  margin-top: 50px;
}

.right {
  float: right;
}

.center {
  float: none;
  margin: 0 auto;
}

.left {
  float: left;
}

.overlay {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 260px;
  background: rgba(255, 255, 255, 0.5);

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5em;
    margin-left: -1.5em;

    font-size: 3em;
    color: #303239;
  }
}

.table {
  width: 100%;

  thead {
    tr {
      th {
        padding-left: 8px;
        padding-right: 8px;

        line-height: 2em;
        font-weight: 600;
      }
    }
  }

  tbody {
    tr {
      td {
        padding-left: 8px;
        padding-right: 8px;

        line-height: 2em;

        border-top: 2px solid #ccc;
      }
    }
  }

  img {
    margin-top: 5px;
    margin-bottom: 5px;

    vertical-align: middle;
  }

  a {
    padding: 0 5px;

    .fa-key {
      color: #FFC107;
    }

    .fa-ban {
      color: #9E9E9E;
    }

    .fa-times {
      color: #F44336;
    }
  }
}

.user {
  position: relative;

  .informations {
    margin-right: 50px;
    margin-left: 0;

    .name {
      text-align: right;
      font-weight: 600;
    }

    .complement {
      text-align: right;
      color: lighten(#000, 46%);
    }

    & + .image {
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
    }
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    
    img {
      width: 42px;
      height: 42px;
    }

    & + .informations {
      margin-left: 50px;
      margin-right: 0;

      .name {
        text-align: left;
      }

      .complement {
        text-align: left;
      }
    }
  }
}

.addon {
  margin-top: 15px;

  color: lighten(#000, 46%);

  .fa {
    width: 42px;

    text-align: center;
    font-size: 1.2em;

    &.fa-map-marker {
      color: #D83E32;
    }

    &.fa-calendar {
      color: #4CAF50;
    }
  }
}

.required {
  margin-left: 5px;
  color: #D9534F;
}

.head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;

  background: #308ddc;

  z-index: 9999;

  .title {
    float: left;
    width: 260px;
    height: 100%;
    
    background: #4099e9;

    a {
      display: block;
      padding-left: 30px;

      font-size: 1.185em;
      font-weight: 600;
      color: #fff;
      line-height: 70px;
      text-decoration: none;
      
      img {
        height: 36px;
        width: auto;
        vertical-align: middle;
      }
    }
  }
  
  .user {
    margin-right: 40px;

    a {
      line-height: 70px;
      color: #fff;
    }
  }
}

.breadcrumb {
  position: fixed;
  top: 0;
  float: left;

  font-size: 1.125em;
  line-height: 70px;

  z-index: 99999;

  ul {
    li {
      float: left;
      color: #fff;

      & + li:before {
        content: '/';
        padding-left: 5px;
        padding-right: 5px;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 260px;

  background: #303239;

  z-index: 9999;

  h4 {
    padding: 15px 30px;

    font-weight: 300;
    color: lighten(#308ddc, 13%);
  }

  .menu {
    ul {
      .item {
        position: relative;

        a {
          display: block;
          padding: 10px 30px;

          color: #fff;
          text-decoration: none;

          &:hover {
            background: lighten(#303239, 5%);
          }

          .fa {
            width: 1.2em;
            margin-right: 10px;

            text-align: center;
          }
        }

        .label {
          position: absolute;
          right: 10px;
          top: 3px;
          margin-top: 7px;
        }
      }

      .subitem {
        background: darken(#303239, 5%);

        .item {
          font-size: 0.9em;

          a {
            padding-left: 45px;
          }
        }
      }
    }
  }
}

.content {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 260px;
  padding: 40px;
  min-width: 900px;

  .page_content {
    padding: 30px;

    background: #dddfe4;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.panel {
  position: relative;
  padding: 15px;

  background: #fff;

  @include border-radius(3px);
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.3));

  @extend %beforeafter;

  & + .panel {
    margin-top: 15px;
  }

  .user {
    float: left;
    width: 200px;

    .img-circle {
      float: left;
      margin-right: 15px;
    }

    span {
      display: table;
    }

    p {
      margin-top: 5px;
      float: left;
      display: table;

      font-size: 0.8em;
      color: lighten(#000, 46%);
    }
  }

  .panel-content {
    float: left;
  }

  &.loading {
    height: 77px;

    .user {
      .img-circle {
        background: #E3F2FD;
      }

      span {
        color: #E3F2FD;
        background: #E3F2FD;
      }

      p {
        color: #E3F2FD;
        background: #E3F2FD;
      }
    }

    .panel-content {
      p {
        color: #E3F2FD;
        background: #E3F2FD;
      }
    }
  }
}